body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #f4f4f9;
}

.container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100%;
  margin: 0;
  align-items: center;
  gap: 10px;
}

.link-list {
  margin: 20px;
  padding: 10px;
  background: #474747;
  border-radius: 5px;
  list-style: none;
  display: flex;
  gap: 10px;
}

.link-list li {
  background: #007bff;
  padding: 10px 20px;
  border-radius: 5px;
}

.link-list li:hover {
  background: #0056b3;
}
.link-list li:active {
  background: #004085;
}
.link-list li:focus {
  outline: none;
  box-shadow: 0 0 0 2px #0056b3;
}

.link-list a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}

.link-list a:hover {
  text-decoration: underline;
}

.card {
  flex: 1;
  display: flex;
  width: 100%;
}

iframe#content-frame {
  width: 100%;
  height: 100%;
  border: none;
}
